html{
    background-color: rgb(179, 245, 250);
}

.workPlace {
    width: 220px;
}

.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #d9eede;
    border-radius: 4px;
    text-align: center;
    font: italic 14px;
    color: #333;
    background: rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
  }

li {
    height: 20px;
    width: 200px;
}
li:hover {
    background-color: rgba(43, 85, 109, 0.5);
    font-weight:bolder;
    cursor: pointer;
    text-shadow: 0 0 3px white;
    
}

.ten {
    position: fixed;
    top: 100px;
    left: 30%;
    width: 300px;
    height: 220px;
    background-color: rgba(92, 131, 153, 0.5);

}

.address{
    position:fixed;
    right: 10px;
    bottom: 10px;
}
.increase:hover {
    color: green;
}

.decrease:hover {
    color: red;
}

.forFlex {
        display: flex; 
    flex-direction: row;
    justify-content: space-around;
}

.title {
    font-size: large;
}